$color-title-bg: rgb(255, 255, 255);
$color-title-fg: black;
$color-primary:#0a00ff;
$color-primary-personality:#c48450;
$color-primary-newsitem:#5c2323;
$color-primary-product: #517741;
$color-background-soft:#f0f0f0;