@import '../styles/colors';

.emailoptin {
    .optinbutton {
        border: 5px rgb(184, 130, 130) solid;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        padding: 10px 20px;
        background-color: rgb(110, 130, 133);
        color: black;
        font-size: 0.9em;
        font-weight: 800;
        cursor: pointer;
        &:hover{
            background-color: rgb(218, 111, 68);
        }
    }
}