@import '../styles/colors';

.song {
  .mainpicture {
    width: 50%;
    height: 500px;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0px 10px rgb(102, 77, 77);
    margin-bottom: 40px;
  }

  .genrelist {
    display: flex;
    margin-bottom: 40px;
    background-color: #d3938a;
    border-radius: 20px 20px 20px 20px;

    .genres {
      padding: 5px 20px;
      background-color: #d3938a;
      max-width: 100px;
      margin-right: 10px;
      font-weight: 700;
      border-radius: 20px 20px 20px 20px;
    }
  }
  .title { 
    background-color: #5a5946;
    border-radius: 20px 20px 20px 20px;
    padding-left: 15px;
  }
  .genre{
    padding: 5px 20px;
      background-color: #d3938a;
      margin-right: 10px;
      font-weight: 700;
      box-shadow: inset 0 0 0px 5px rgb(126, 106, 106);
    }
    .moodlist {
      display: flex;
      margin-bottom: 40px;
      background-color: #c2d3a6;
      border-radius: 20px 20px 20px 20px;
    }

  .mood{
    padding: 5px 20px;
      background-color: #c2d3a6;
      margin-right: 10px;
      font-weight: 700;
      box-shadow: inset 0 0 0px 5px rgb(111, 214, 116);
    }

    .albumlist {
      display: flex;
      margin-bottom: 40px;
      background-color: #4386df;
      border-radius: 20px 20px 20px 20px;
    }

  .album{
    padding: 5px 20px;
      background-color: #4386df;
      margin-right: 10px;
      font-weight: 700;
      box-shadow: inset 0 0 0px 5px rgb(4, 38, 77);
    }
  .peoplesegment {
    margin-top:40px;
    .title {

      font-size: 1.4em;
      font-weight: 800;
      margin-bottom: 20px;

    }

    .content {}
  }

  .song {
    background-color: #5a5946;
    padding-left: 20px;
  }

  .summary {}

  .introduction {}

  .main_poster {
    img {}
  }

  .writers {
    .writer {}
  }

  .directors {
    .director {}
  }

  .genres {
    .genre {}
  }

  .pictures {
    .picture {}
  }

  .trailers {
    .trailer {}
  }

  .number_of_plays {
    padding: 20px 20px;
      background-color: #4f6194;
      font-weight: 700;
      border-radius: 20px 20px 20px 20px;
      margin-bottom: 20px;
      margin-top: 20px;
  }

  .releasedate {
    padding: 20px 20px;
      background-color: #4f6194;
      font-weight: 700;
      border-radius: 20px 20px 20px 20px;
  }
}
